= f.text_field :title, required: true
= render 'shared/color_field', { f: f, field_name: :title_color }
= f.text_area :content, required: true
= render 'shared/color_field', { f: f, field_name: :content_color }
= f.select :content_alignment, text_alignments, required: true
= f.text_field :cta, required: true, label: 'CTA'
= f.text_field :cta_url, required: true, label: 'URL'
= f.select :button_color, available_button_colors,
    required: true

- component_form.object.find_asset_for_position(1)
- component_form.object.find_asset_for_position(2)
= component_form.fields_for :assets do |assets_form|
  - if assets_form.object.persisted?
    = image_tag assets_form.object.attachment.url(assets_form.object.position == 1 ? :banner : :square)
  = assets_form.file_field :attachment,
      label: t("custom_pages.components.banner.image_#{assets_form.object.position}"),
      required: !Rails.env.test? && !assets_form.object.persisted?
  = assets_form.hidden_field :position
