- content_for :page_actions do
  - unless defined?(@sub_component)
    %li= link_to t('custom_pages.actions.edit'),
        edit_admin_custom_page_component_path(@page, @component),
        class: 'btn btn-primary'
  - if defined?(@sub_component)
    %li= link_to t('custom_pages.actions.back'),
        admin_custom_page_component_path(@page, @component),
        class: 'btn btn-primary'
  - else
    %li= link_to t('custom_pages.actions.back'),
        admin_custom_page_component_path(@page, @component),
        class: 'btn btn-primary'

= admin_breadcrumb link_to t('custom_pages.index'), admin_custom_pages_path
= admin_breadcrumb link_to @page.name, admin_custom_page_path(@page)
= admin_breadcrumb link_to @component.name, admin_custom_page_component_path(@page, @component)
- if defined?(@sub_component)
  = admin_breadcrumb @sub_component.name
  = admin_breadcrumb t('custom_pages.actions.customize')

- if @sub_component
  %h4= @sub_component.component.name.titleize
  = bootstrap_form_for @sub_component, as: :components_page, method: :put,
      url: admin_custom_page_component_component_path(@page, @component, @sub_component) do |f|
    .col-12
      = f.text_field :name, required: true
      = f.check_box :active
    = f.fields_for :metadata, @sub_component.metadata do |metadata_form|
      = render partial: "spree/solidus_cms/admin/components/templates/#{@sub_component.presenter.backend_template}",
          locals: { f: metadata_form, component_form: f, sub_component: @sub_component }
    %hr
    = f.submit
- else
  %h4= @component.component.name.titleize
  = bootstrap_form_for @component, as: :components_page,
      url: admin_custom_page_component_path(@page, @component), method: :put do |f|
    = f.text_field :name, required: true
    = f.check_box :active
    = f.fields_for :metadata, @component.metadata do |metadata_form|
      = render partial: "spree/solidus_cms/admin/components/templates/#{@component.backend_template}",
          locals: { f: metadata_form, component_form: f }
    %hr
    = f.submit
