-# frozen_string_literal: true

- content_for :page_actions do
  - if @page.active
    %li= link_to t('custom_pages.take_it_down'),
        admin_custom_page_path(@page, page: { active: false }), method: :put,
        class: 'btn btn-primary'
  - else
    %li= link_to t('custom_pages.launch'),
        admin_custom_page_path(@page, page: { active: true }), method: :put,
        class: 'btn btn-primary'

  %li= link_to t('custom_pages.preview'),
      preview_page_path(path: @page.path), target: '_blank', rel: 'noopener',
      class: 'btn btn-primary'

  %li= link_to t('custom_pages.actions.edit'),
      edit_admin_custom_page_path(@page),
      class: 'btn btn-primary'

= admin_breadcrumb link_to t('custom_pages.index'), admin_custom_pages_path
= admin_breadcrumb @page.name

%h3= @page.path

%hr
%h4= t('custom_pages.sections')
%table
  %thead
    %tr
      %th{ colspan: 2 }= t('custom_pages.components.name')
      %th= t('custom_pages.components.component_type')
      %th= t('custom_pages.components.status')
      %th= t('custom_pages.actions.title')
  %tbody
    - @page.components_pages.top_level.each do |component|
      %tr
        %td{ colspan: 2 }= component.name
        %td= component.component_name.titleize
        %td= t("custom_pages.components.active.#{component.active}")
        %td
          = link_to t('custom_pages.actions.customize'),
              admin_custom_page_component_path(@page, component)
          |
          = link_to t('custom_pages.actions.edit'),
                edit_admin_custom_page_component_path(@page, component)
          |
          = link_to t('custom_pages.actions.delete'),
                admin_custom_page_component_path(@page, component), method: :delete,
                data: { confirm: t('custom_pages.messages.are_you_sure') }
          |
          = link_to_if component.position.to_i > 1, t('custom_pages.actionsmove_up'),
                move_to_admin_custom_page_component_path(@page, component,
                    position: component.position - 1),
                method: :put
      - if component.children.size.positive?
        - component.children.each do |component_child|
          %tr
            %td
            %td= component_child.name
            %td= component_child.component_name.titleize
            %td= t("custom_pages.components.active.#{component_child.active}")
            %td
              = link_to t('custom_pages.actions.customize'),
                  edit_admin_custom_page_component_component_path(@page,
                      component, component_child)
    %tr
      %td{ colspan: 4 }
        = link_to t('custom_pages.components.add_new_section'),
            new_admin_custom_page_component_path(@page)
